 .sphaghetti {
     color: blue
 }

 .poundo {
     color: blueviolet
 }

 .rice {
     color: black
 }

 .beans {
     color: palevioletred
 }

 .semovita {
     color: paleturquoise
 }

 .ogbonosoup {
     color: rgb(202, 75, 29)
 }

 .egusisoup {
     color: peachpuff
 }

 .okrosoup {
     color: palegreen
 }

 .bitterleafsoup {
     color: rebeccapurple
 }

 .yam {
     color: orangered
 }

 .egg {
     color: rgb(209, 141, 39)
 }

 .porage {
     color: navy
 }

 .friedrice {
     color: rgb(221, 6, 42)
 }

 .fruits {
     color: rgb(247, 18, 247)
 }

 .amala {
     color: blueviolet
 }

 .awedu {
     color: goldenrod
 }

 .peppersoup {
     color: green
 }

 .jellofrice {
     color: greenyellow
 }